/ejercicio2/nbproject/private/
/ejercicio2/build/
/ejercicio3/nbproject/private/
/JavaApplication90/nbproject/private/
/JavaApplication90/build/
/ejercicio3/build/
/ejercicio4/nbproject/private/
/ejercicio4/build/
/ejercicio5/nbproject/private/
/ejercicio5/build/
/ejercicio6/nbproject/private/
/ejercicio6/build/